<!-- src/app/pages/admin/edit-round/edit-round.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="round">
    <!-- Event form -->
    <app-round-form [round]="round"></app-round-form>
  </ng-template>

  <!-- Error loading event -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Error:</strong> Round data could not be retrieved. View <a routerLink="/admin" class="alert-link">Rounds</a>.
  </p>
</ng-template>
