<!-- src/app/pages/admin/update-team/update-team.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>

 <ng-template [ngIf]="utils.isLoaded(loading)">
  <div *ngIf="golferList" class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[]"
            [queryParams]="{ tab: 'list' }"
            [ngClass]="{ 'active': utils.tabIs(tab, 'list') }">List</a>
        </li>
      </ul>
    </div>

  <ng-template [ngIf]="teamOwnerList.length && utils.tabIs(tab, 'list')">

    <!-- Teams listing -->
    <section class="list-group">
      <a *ngFor="let owner of fs.orderByDate(filteredTeamOwners, 'teamname')" [routerLink]="['/teamOwner', teamOwner._id]" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{owner.name}}</h5>
          <small >{{owner.teamname | json}}</small>
        </div>
      </a>
    </section>
  </ng-template>
    
   </div>    
    
      <!-- Add form -->

<!--   </div> -->
    <!-- Error loading data -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Error:</strong> Owner data could not be retrieved. View <a routerLink="/admin" class="alert-link">Admin Owners</a>.
  </p>
  
  
  
</ng-template>