<!-- src/app/pages/games/games.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="roundsList">
    <ng-template [ngIf]="roundsList.length">

      <!-- Search events -->
      <label class="sr-only" for="search">Search</label>
      <div class="search input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Search</div>
        </div>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchRounds()" />
        <span class="input-group-append">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </div>

      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredRounds, query)" class="alert alert-warning">
        No rounds found for <em class="text-danger">{{ query }}</em>, sorry!
      </p>

      <!-- Events listing -->
      <section class="list-group">
        <a
          *ngFor="let rd of fs.orderByDate(filteredRounds, 'startDatetime')"
          [routerLink]="['/groupgame', rd._id]"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <strong *ngIf="rd.description">{{rd.description }}</strong> |
            {{rd.date}}
          </div>
        </a>
      </section>
    </ng-template>

    <!-- No upcoming public events available -->
    <p *ngIf="!roundsList.length" class="alert alert-info">
      No upcoming public rounds available.
    </p>
    <a
      routerLink="/create/round"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Create Round</a>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving round data.
  </p>

</ng-template>
