<!-- src/app/pages/admin/game-form/game-form.component.html -->
<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  
    <div class="form-group">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <div
      *ngIf="formErrors.date"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.date">
    </div>
  </div>
  <div class="form-group">
<!--     <label for="course">Course</label>
      <input
            type="text"
            class="form-control"
            formControlName="course"
            id="course"
            required
      > -->
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Course" aria-label="Course" matInput formControlName="course" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCourseFn">
          <mat-option *ngFor="let course of filteredCourses | async" [value]="course">
            {{course.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    
    <div
      *ngIf="formErrors.course"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.course">
    </div>
  </div>
  <div class="form-group">
    <label for="description">Round Description</label>

        <input
      id="description"
      type="text"
      class="form-control"
      formControlName="description"
      required>
    <div
      *ngIf="formErrors.name"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.description">
    </div>
  </div>
  
  
  Groups
  
  	<div formArrayName="groups">
		<div class="section-container" *ngFor="let grp of getGroups(dataForm); let i = index">
			<div class="ui raised segments" [formGroupName]="i">
				<h4 class="ui header">Group Details</h4>
				<input class="form-control" type="text" placeholder="Group Name" formControlName="groupTitle" id="groupTitle">
				<!-- Question segment -->
				<!---dataForm Section -->
				<div class="golfer-container" formArrayName="golfers">
					<div [formGroupName]="j" *ngFor="let golfer of getGolfers(grp); let j = index">
            
<!--             <select id="golferName" formControlName="golferName">
              <option *ngFor="let g of filteredGolfers" [ngValue]="g"> {{g.nickname}}</option>
            </select> -->
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Golfer" aria-label="Golfer" matInput formControlName="golferName" id="golferName" [matAutocomplete]="auto" >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let g of availableGolfers" [value]="g">
                  {{g.nickname}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            
<!-- 						<input type="text" class="form-control" placeholder="Untitled Question" formControlName="golferName"> -->

            <mat-form-field class="example-full-width">
                <mat-label>Tee</mat-label>
                <mat-select formControlName="golferTee">
                  <mat-option *ngFor="let t of getTees()" [value]="t">
                    {{t.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Strokes" type=number value=0 formControlName="golferHandicap">
            </mat-form-field>
            

              <div *ngIf="dataForm.errors" class="alert alert-danger">
                {{ dataForm.errors }}
              </div>

            <button class="btn btn-danger btn-xs" 
              type="button"
              (click)="removeGolfer(i)">Remove Golfer</button>
					</div>
            <button class="btn btn-success" 
              type="button"
              (click)="addGolfer(i)">Add Golfer</button>
				</div>
				<!-- End Question -->

			</div>
			<span *ngIf="getGroups(dataForm).length > 1" (click)="removeGroup(i)" class="btn btn-danger">Remove Group</span>
		</div>
      <button type="button" (click)="addGroup()" class="btn btn-success">Add Group </button>
			
	</div>

  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [attr.disabled]="dataForm.invalid || submitting ? true : null"
      [innerText]="submitBtnText"></button>
      <!-- https://github.com/angular/angular/issues/11271#issuecomment-289806196 -->
    <app-submitting *ngIf="submitting"></app-submitting>
    <a
      *ngIf="!submitting"
      class="btn btn-link"
      (click)="resetForm()"
      tabindex="0">Reset Form</a>

    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting the information. Please try again.
    </p>
  </div>
</form>



