<!-- src/app/pages/admin/game-form/game-form.component.html -->
<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">


<div class="card-body">
  <h2 class="card-title text-center mb-0">Round Details</h2>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>When:</strong>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </li>
  <li class="list-group-item">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Course" aria-label="Course" matInput formControlName="course" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCourseFn">
          <mat-option *ngFor="let course of filteredCourses | async" [value]="course">
            {{course.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </li>
  <li class="list-group-item">
    <strong>Description:</strong> 
    <input
      id="description"
      type="text"
      class="form-control"
      formControlName="description"
      required>
    <div
      *ngIf="formErrors.name"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.description">
    </div>
  </li>
    <li class="list-group-item">
      <mat-form-field class="example-full-width">
        <mat-label>Scoring Type</mat-label>
        <select matNativeControl required formControlName="score_type" >
          <option value="Best Ball">Best Ball</option>
          <option value="Scramble">Scramble</option>
        </select>
      </mat-form-field>
  </li>
  <li class="list-group-item">
    <strong>Groups:</strong>
      <mat-accordion formArrayName="groups">
        <mat-expansion-panel  [formGroupName]="i" *ngFor="let grp of getGroups(dataForm); let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-form-field class="example-full-width">
                <strong><input type="text" placeholder="Group Title" aria-label="Group Title" matInput formControlName="groupTitle" id="groupTitle"></strong>
              </mat-form-field>         
              <button mat-button type="button" color="warn" (click)="removeGroup(i)">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-panel-title>
      <!--       <mat-panel-description>
              Type your name and age
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <ul class="list-group list-group-flush" formArrayName="golfers">
            <li class="list-group-item" *ngFor="let golfer of getGolfers(grp); let j = index"  [formGroupName]="j">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Golfer" aria-label="Golfer" matInput formControlName="golferName" id="golferName" [matAutocomplete]="auto" >
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let g of availableGolfers" [value]="g">
                    {{g.nickname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Tee</mat-label>
                <mat-select formControlName="golferTee">
                  <mat-option *ngFor="let t of getTees()" [value]="t">
                    {{t.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Strokes" type=number value=0 formControlName="golferHandicap">
            </mat-form-field>
              <button mat-button type="button" color="warn" (click)="removeGolfer(i)">
                <mat-icon>cancel</mat-icon>
              </button>
            </li>
          </ul>
          <button mat-button type="button" color="primary"  (click)="addGolfer(i)">
            <mat-icon>person_add</mat-icon>
          </button>
        </mat-expansion-panel>
          <button mat-button type="button" color="primary"  (click)="addGroup()" >
            <mat-icon>group_add</mat-icon>
          </button>
      </mat-accordion>
     
  </li>
</ul>


  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [attr.disabled]="dataForm.invalid || submitting ? true : null"
      [innerText]="submitBtnText"></button>
      <!-- https://github.com/angular/angular/issues/11271#issuecomment-289806196 -->
    <app-submitting *ngIf="submitting"></app-submitting>
    <a
      *ngIf="!submitting"
      class="btn btn-link"
      (click)="resetForm()"
      tabindex="0">Reset Form</a>

    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting the information. Please try again.
    </p>
  </div>
</form>



