<!-- src/app/pages/games/games.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="rfaList">
    <ng-template [ngIf]="rfaList.length">

      <!-- RFA listing -->
      <section class="list-group">
         

          <div class="d-flex w-100 justify-content-between" *ngFor="let rfa of rfaList" class="list-group-item list-group-item-action flex-column align-items-start">

            <div class="container">
              <div class="row">
                <div class="col-8">
                  <a [routerLink]="['/rfa', rfa.rfa.rfa._id]" *ngIf="rfa">
                    <strong >
                      {{rfa.rfa.rfa.name }}
                    </strong> 
                  </a>
                  <small class="d-none d-md-block">({{rfa.rfa.rfa.owner.teamname}})</small>
                </div>
                <div class="col-4">
                   Current bid: <span class="badge badge-primary badge-pill">{{_bidSummary(rfa.rfa.bids).maxBid}} </span>
                </div>
              </div>
              <div class="row">
                <div class="col-2 d-none d-md-block">
                  <small><span>RFA Reserve: {{rfa.rfa.rfa.adv * .8 | number : '1.0-0'}}</span></small>
                </div>
                <div class="col-2 d-none d-sm-block">
                  <small><span>ESPN ADV: {{rfa.rfa.rfa.adv | number: '1.0-0'}}</span></small>
                </div>
                <div class="col-2 d-none d-sm-block">
                  <small><span>Bid Count:{{_bidSummary(rfa.rfa.bids).maxBid}}</span></small>
                </div>
                <div *ngIf="auth.loggedIn" class="col-4 ">
                  <mat-form-field class="example-form-field">
                    <input matInput type="number" placeholder="Bid amount" [(ngModel)]="rfa.bidAmt">

                  </mat-form-field>

                </div>
                <button *ngIf="auth.loggedIn" class="col-2" mat-button (click)="_placeBid(rfa.rfa.rfa, rfa.bidAmt)">
                  Bid<mat-icon>input</mat-icon>
                </button>
               
              </div>
             
            </div>

          </div>

        
<!--         <mat-card class="example-card" *ngFor="let rfa of filteredRFAs">
          <mat-card-header >
            <mat-card-title *ngIf="rfa">{{rfa.name}}</mat-card-title>
            <mat-card-subtitle>{{rfa.owner.teamname}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <span>ADV: {{rfa.adv | number:0}}</span>
            <span>Reserve: {{rfa.adv * .8 | number:0}}</span>
            <span>Bid Count: 3</span>
            <span>Max Bid: 26</span>
          </mat-card-content>
          
        </mat-card> -->
        
        
      </section>
    </ng-template>

    <!-- No upcoming public events available -->
    <p *ngIf="!rfaList.length" class="alert alert-info">
      No rfas available.
    </p>
    <a
      routerLink="/create/rfa"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Create New RFA</a>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving RFA data.
  </p>

</ng-template>
